.hud {
  display: flex;
  align-items: center;
  gap: 0 2rem;

  &__compass,
  &__location {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.compass {
  display: flex;
  align-items: center;
  gap: 0 1rem;

  &__vector {
    width: 3.125rem;
  }
  &__label {
    width: 1.5rem;
    font-size: 2rem;
    text-align: center;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 0 1rem;

  &__icon {
    width: 2.4rem;
  }
  &__text {
    min-width: 6rem;
    font-size: 2rem;
    text-align: center;
  }
}
