.rover {
  &__vector {
    width: 100%;
    stroke: var(--foreground);

    &--right {
      transform: rotate(90deg);
    }

    &--bottom {
      transform: rotate(180deg);
    }

    &--left {
      transform: rotate(-90deg);
    }
  }
}
