@use "../styles/mixins" as mixins;

.terminal {
  flex: 1;
  background-color: var(--dark);
  padding: 0.5rem 1.5rem;

  &__log {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    &--error {
      color: var(--danger);
    }

    &:not(:last-child) {
      position: absolute;
      opacity: 0;
      visibility: hidden;

      @include mixins.gt-sm {
        position: static;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__log-icon {
    width: 1.2rem;
    fill: var(--danger);
    stroke: var(--danger);
  }
}
