@use "../styles/mixins" as mixins;

.terminal {
  background-color: var(--dark);
  padding: 0.5rem 1.5rem;

  @include mixins.gt-sm {
    height: 100%;
    overflow: auto;

    --sb-track-color: #232e33;
    --sb-thumb-color: #ea580c;
    --sb-size: 0.625rem;

    &::-webkit-scrollbar {
      width: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
      background: var(--sb-track-color);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
    }

    @supports not selector(::-webkit-scrollbar) {
      & {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      }
    }
  }

  &__log {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    font-size: 0.9rem;

    @include mixins.gt-xs {
      font-size: 1rem;
    }

    &--error {
      color: var(--danger);
    }

    &:not(:last-child) {
      position: absolute;
      opacity: 0;
      visibility: hidden;

      @include mixins.gt-sm {
        position: static;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__log-icon {
    width: 1.2rem;
    fill: var(--danger);
    stroke: var(--danger);
  }
}
