@use "fonts";
@use "rover";
@use "obstacle";
@use "terminal";

:root {
  --background: #202125;
  --dark: #09090b;
  --foreground: #e5e7eb;
  --danger: #ea580c;
}

body {
  font-family: "04B_03", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
