@use "./styles/mixins" as mixins;

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.875rem;

  &__title {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;

    @include mixins.gt-sm {
      font-size: 3rem;
    }
  }

  &__main {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 2vh 0;

    max-width: 50vh;
    margin: 0 auto;

    @include mixins.gt-sm {
      margin: auto;
      flex-direction: row;
      flex: 0;
      /* height must be determined for terminal to work
      otherwise terminal won't work
      below lg, width is:
      ((screen - (2*padding)) - gap) / 2
      */
      height: calc(((100vw - (2 * 1.875rem)) - 2rem) / 2);
      max-width: none;
      gap: 0 2rem;
    }

    @include mixins.gt-md {
      max-width: mixins.$lg-width;
      height: calc((mixins.$lg-width - 2rem) / 2);
    }
  }

  &__display,
  &__inputs {
    flex: 1;
  }

  &__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__inputs,
  &__hud {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__hud {
    padding-top: 2vh;
    gap: 2vh 0;
  }

  &__hud,
  &__terminal {
    @include mixins.gt-sm {
      height: 50%;
    }
  }
}
